<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.book">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Book"
        tools:targetApi="31">
        <activity
            android:name=".activity.UserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SaiContentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SaixuanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GuideViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VipContentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VipActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MoreActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShopActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ReadActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BookCotentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" >

        </activity>
    </application>

</manifest>